.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.container .LeftSide {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container .RightSide {
    display: flex;
    flex-direction: column;
    flex: 1;
}
